{# coding: utf8 #}
{% extends "base.html" %}

{% block content %}

<div id="ObservationFile_confirm_delete_header" class="model-confirm-delete-header ObservationFile-confirm-delete-header">
Are you sure to delete "{{ object }}"?
</div>
<form action="." method="post" name="ObservationFile_delete" class="model-confirm-delete-form ObservationFile-confirm-delete-form">
    {% csrf_token %}
{{ form }}
    <div class="model-confirm-delete-buttons-bar ObservationFile-confirm-delete-buttons-bar">
        <input type="submit" value="Ok" class="model-confirm-delete-submitObservationFile-confirm-delete-submit"/>
        <a href="{% url patdb:observationfile:list page=1 %}" class="model-confirm-delete-form-cancel ObservationFile-confirm-delete-form-cancel">Cancel </a>
    </div>
</form>
{% endblock content %}