{# coding: utf8 #}
{% extends "base.html" %}

{% block content %}

<div id="PatientInterview_confirm_delete_header" class="model-confirm-delete-header PatientInterview-confirm-delete-header">
Are you sure to delete "{{ object }}"?
</div>
<form action="." method="post" name="PatientInterview_delete" class="model-confirm-delete-form PatientInterview-confirm-delete-form">
    {% csrf_token %}
{{ form }}
    <div class="model-confirm-delete-buttons-bar PatientInterview-confirm-delete-buttons-bar">
        <input type="submit" value="Ok" class="model-confirm-delete-submitPatientInterview-confirm-delete-submit"/>
        <a href="{% url patdb:patientinterview:list page=1 %}" class="model-confirm-delete-form-cancel PatientInterview-confirm-delete-form-cancel">Cancel </a>
    </div>
</form>
{% endblock content %}