{# coding: utf8 #}
{% extends "base.html" %}

{% block content %}
{% load bootstrap_toolkit %}
{% if object %}
<div id="PatientInterview_form_header" class="object-form-header PatientInterview-form-header">
Editing {{object}}
</div>
{% else %}
Create new PatientInterview
{% endif %}
<form action="." method="post" name="PatientInterview_form" class="">
    {% csrf_token %}
    
            {{form|as_bootstrap}}
            
            <div class="actions">
        <button type="submit" class="btn primary">Submit</button>
        <a href="{% url patdb:patientinterview:list 1  %}" class="btn">Cancel </a>
    </div>
      
</form>
{% endblock content %}