{# coding: utf8 #}
{% extends "base.html" %}

{% block content %}

{% if object %}
<div id="Patient_form_header" class="object-form-header Patient-form-header">
Editing {{object}}
</div>
{% else %}
Create new Patient
{% endif %}
<form action="." method="post" enctype="multipart/form-data" name="Patient_form" class="">
    {% csrf_token %}
    {% load bootstrap_toolkit %}
            {{form|as_bootstrap}}
            
            <div class="actions">
        <button type="submit" class="btn primary">Submit</button>
        <a href="{% url patdb:patient:list 1  %}" class="btn">Cancel </a>
    </div>
      
</form>
{% endblock content %}