{# coding: utf8 #}
{% extends "base.html" %}

{% block content %}

<div id="Patient_confirm_delete_header" class="model-confirm-delete-header Patient-confirm-delete-header">
Are you sure to delete "{{ object }}"?
</div>
<form action="." method="post" name="Patient_delete" class="model-confirm-delete-form Patient-confirm-delete-form">
    {% csrf_token %}
{{ form }}
    <div class="model-confirm-delete-buttons-bar Patient-confirm-delete-buttons-bar">
        <input type="submit" value="Ok" class="model-confirm-delete-submitPatient-confirm-delete-submit"/>
        <a href="{% url patdb:patient:list page=1 %}" class="model-confirm-delete-form-cancel Patient-confirm-delete-form-cancel">Cancel </a>
    </div>
</form>
{% endblock content %}