{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="span7">
			<a href="{% url patdb:patientinterview:create %}" class="model-new PatientInterview-new">New Patient Interview</a> 
			<table class="table table-stripped table-bordered">
				<tr>
					<td>
						<strong>Patient</strong>
					</td>
					<td>
						<span>
							{{object.patient}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<strong>
							Date
						</strong>
					</td>
					<td>
						<span>
							{{object.created.date}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Problems Presented</strong>
					</td>
					<td>
						<span>
							{{object.problemPresentedByPatient}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Observations</strong>
					</td>
					<td>
						<span>
							{{object.observations}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Examinations</strong>
					</td>
					<td>
						<span>
							{{object.examinations}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Diagnosis</strong>
					</td>
					<td>
						<span>
							{{object.diagnosis}}
						</span>
					</td>
				</tr>

				<tr>
					<td>
						<strong>Treatment Given</strong>
					</td>
					<td>
						<span>
							{{object.treatmentGiven}}
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Extra Remarks</strong>
					</td>
					<td>
						<span>
							{{object.extraRemarks}}
						</span>
					</td>
				</tr>

			</table>
		</div>
	</div>
{% endblock content %}