{% extends "base.html" %}
{% block content %}
	{% load taggit_extras %}
	<div class="row">
		<div class="span8">
			<h3>Patient Details</h3>
		</div>
		
	</div>
	<div class="row">
		<div class="span5">
			
		<table class="table table-stripped table-bordered">
			<tr>
				<td>
					<strong>First Name</strong>
				</td>
				<td>
					<span>{{object.firstName}}</span>
				</td>
			</tr>

			<tr>
				<td>
					<strong>Last Name</strong>
				</td>
				<td>
					<span>{{object.lastName}}</span>
				</td>
			</tr>

			<tr>
				<td>
					<strong>Date of Birth</strong>
				</td>
				<td>
					<span>{{object.dateOfBirth}}</span>
				</td>
			</tr>

			<tr>
				<td>
					<strong>Physical Address</strong>
				</td>
				<td>
					<span>{{object.physicalAddress}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Phone Number</strong>
				</td>
				<td>
					<span>{{object.phoneNumber}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Alternate Phone Number</strong>
				</td>
				<td>
					<span>{{object.alternatePhoneNumber}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Marital Status</strong>
				</td>
				<td>
					<span>{{object.maritalStatus}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Email Address</strong>
				</td>
				<td>
					<span>{{object.emailAddress}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Sex</strong>
				</td>
				<td>
					<span>{{object.get_sex_display}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Blood  Type</strong>
				</td>
				<td>
					<span>{{object.get_bloodType_display}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Height</strong>
				</td>
				<td>
					<span>{{object.height}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Weight</strong>
				</td>
				<td>
					<span>{{object.weight}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Alergies</strong>
				</td>
				<td>
					<span>{{object.alergies}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Next of Kin Contact</strong>
				</td>
				<td>
					<span>{{object.nextOfKinContact}}</span>
				</td>
			</tr>
		</table>
		</div>
		<div class="span4">
			<p>
				
<style type="text/css">
	.tag a{
		color:white;
	}
	.tag{
		margin:5px;
	}
</style>
<h4>Tags</h4>
{% for tag in object.tags.all %}

<span class="label label-info tag">
<a href="{% url patient_tag tag.id %}" class="">{{tag}}</a>
</span>
{% endfor %}

			</p>
			<p>
				<h4>Actions</h4>
				<a href="{% url patdb:patient:update object.pk %}" class="btn">edit</a>
                <a href="{% url patdb:patient:delete object.pk %}" class="btn">delete</a>
                <br/>
                <br>
			</p>
			 <p>
			 	<h4>Picture</h4>
			 	<a href="#" class="thumbnail">
				<img src="/media/{{object.photo}}" alt="">
			</a>
			 </p>
			
			<p>
				<h4>Interviews</h4>
				<a href="{% url patdb:patientinterview:create %}" class="model-new PatientInterview-new">New Patient Interview</a> 
				<table class="table table-stripped table-bordered">
					{% for interview in  object.interviews %}
					 	<tr>
						<td>
 <a href="{% url patdb:patientinterview:view interview.pk %}" >{{interview}}</a>
						</td>
					</tr>
					 	{% endfor %} 	
				
				</table>
			</p>
			
		</div>
		
	</div>
{% endblock content %}