<!DOCTYPE html>
<html>
	<head>
		<title>MEDIC</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
		<div class="navbar">
  				<div class="navbar-inner">
    				<div class="container">
						<a class="brand" href="#">
  							Patient DB
						</a>
						 
    				</div>
  				</div>
			</div>
		<div class="container">
			<div class="row">
				{% block content %}
					
				{% endblock content %}
			</div>
		</div>
		
		<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
		
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	</body>
</html>