{% extends "base.html" %}
{% block content %}

<h4>Patients Tagged {{tag}}</h4>
<table class="table table-stripped table-bordered">
	{% for patient in  patients %}
<tr>
		<td>
			 <a href="{% url patdb:patient:view patient.pk %}">{{patient}}</a></td>
		</td>
	</tr>
{% endfor %}
	
</table>


	
{% endblock content %}