<!DOCTYPE html>
<html>
	<head>
		<title>MEDIC</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav pull-right">
              {% if user.is_authenticated %}
                <li>
                  <a href="{% url  logout  %}">Logout</a>
                </li>
              {% else %}
              <li>
                <a href="{% url  login  %}">Login</a>
              </li>{% endif %}</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

     <div class="row">
     	{% block django %}
     		
     	{% endblock django %}
     </div>

    </div> <!-- /container -->
		
		<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
		
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	</body>
</html>